<header class="banner">
  <a class="logo" routerLink="/home" routerLinkActive="activeButton"><i class="fab fa-soundcloud"></i></a>
  <a class="home" routerLink="/home" routerLinkActive="activeButton">Home</a>
  <a class="stream" routerLink="/display" routerLinkActive="activeButton">Stream</a>
  <a class="library">Library</a>
  <div class="search-bar">
    <input type="search" name="" id="" placeholder=" Search">
  </div>
  <a class="upload">Upload</a>
  <a class="profile">Profile</a>
</header>
<app-sidebar></app-sidebar>