section {
    width: 100%;
    height: auto;
    background-color: #ff5500;
    position: absolute;
    top:8%;
}
section .sidebar{
    position: absolute;
    right: 5%;
    /* top: 0; */
    width: 24%;
    height: auto;
    background-color: #ffffff;
    margin: 2%;
}
/* section .sidebar .listFolow {
} */
section .sidebar .likeList{
    margin: 30px 0;
}
.title {
    display: flex;
    flex-direction: row;
}
h1 {
    font-size: 11px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #cccccc;
    font-weight: bold;
    display: inline-flex;
    padding:0 0 16px 0;
    text-align: center;

}
h2{
    font-size: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #333;
    font-weight: bold;
    display: inline-flex;
  }