<section>
    <div class="sidebar">
        <div class="title">
            <h1>{{title}}</h1>
            <h1><a href="#">Refresh list</a></h1>
        </div>
        <div *ngFor="let item of listStream.slice(0,3)" class="listFolow">
            <h2>{{item.author}}</h2>
            <h3>15k</h3>
            <h3>32</h3>
            <button>Follow</button>
        </div>
        <div class="likeList">
            <h1>81 likes</h1>
            <div *ngFor="let item of listStream">
                <h2>{{item.title}}</h2>
                <h3>15k</h3>
                <h3>32</h3>
            </div>
        </div>
    </div>

</section>
