<div class="home-parent">
  <div class="home">
    <div class="content-suggestion">
      <h2>More of what you like</h2>
      <p>Suggestions based on what you've liked or played</p>
      <div class="gallery">
        <div class="block" *ngFor="let item of listStream">
          <div class="imgSugg">
            <img src="" alt="">
          </div>
          <p [routerLink]="['/track-details',item.title]">{{item.title}}</p>

        </div>
      </div>
    </div>
    <div class="content-top50 ">
      <h2>Charts: Top 50</h2>
      <p>The most played tracks on SoundCloud this week</p>
      <div class="gallery">
        <div class="block" *ngFor="let item of listStream">
          <div class="imgSugg">
            <img src="" alt="">
          </div>
          <p [routerLink]="['/track-details',item.id]">{{item.title}}</p>

        </div>
      </div>
    </div>

  </div>
</div>